# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*.local

# Mac system files
.DS_Store

# IDE configs
.vscode/
.idea/

# Coverage reports
coverage/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Nodemon files
tmp/
